<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    {% include 'header.jinja' %}

    <h1>Students</h1>
    <div class="students_container">
        {% for student in students %}
            <div class="student">
                {{ student[0] }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
